/* INDEX.HTML */
/* MAIN */
.section__titulo {
  margin: 30px 50px 20px 0px;
  font-weight: 400;
  text-align: center;
}

.noticia {
  width: 100%;
  margin: 0px 50px 30px 0px;
  background-color: rgba(0, 0, 0, 0.418);
}
.noticia__titulo {
  font-weight: 400;
}
.noticia__parrafo {
  font-weight: 400;
  font-size: 1.3rem;
}

/* MAIN */
/* ASIDE */
aside {
  text-align: center;
}
aside div h2 {
  margin: 100px 30px 30px 0px;
  font-weight: 200;
}
aside div h3 {
  color: white;
  font-weight: 200;
  text-align: center;
}

.articulo-aside {
  background-color: rgba(151, 135, 135, 0.212);
  width: 100%;
  border-radius: 20px;
  margin: 20px 0px 20px 0px;
}

/* ASIDE */
@media (max-width: 768px) {
  .noticia__parrafo {
    font-size: 1.3rem;
  }
  .noticia__titulo {
    font-size: 2rem;
    text-decoration: underline rgba(255, 255, 255, 0.562);
  }
  aside div h2 {
    font-size: 2rem;
  }
  aside div h3 {
    font-size: 1.5rem;
    background-color: rgba(47, 77, 77, 0.363);
  }
}
h1 {
  font-weight: 400;
  font-size: 1.8rem;
  color: white;
}

.fuente-nav {
  color: white;
}
.fuente-nav:hover {
  color: black;
}

.hamburguesa {
  background-color: white;
}

/* Barra de nav */
nav ul li {
  text-align: center;
}
nav ul li a {
  border: 1px solid white;
  border-radius: 10px;
  color: white;
}
nav ul li a:hover {
  background-color: white;
}

/* Logo wpp */
.logo_wsp {
  width: 70px;
  position: fixed;
  bottom: 25px;
  right: 1vw;
  /* animacion de wpp */
  animation: logo_wsp 1.5s ease-in-out infinite both;
}

@keyframes logo_wsp {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
.formulario {
  width: 100%;
  text-align: center;
  padding: 30px 30px 0px 30px;
  margin: 20px 20px 40vh 0px;
  background-color: rgba(0, 0, 0, 0.418);
}

body {
  /* Fuente */
  font-family: "Montserrat", sans-serif;
  color: white;
}
body a {
  text-decoration: none;
}

body {
  /* fondo */
  background: linear-gradient(180deg, rgb(2, 0, 36) 0%, rgb(9, 9, 121) 49%, rgb(0, 212, 255) 94%);
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  max-width: 100%;
  height: auto;
}

/* carrusel */
.carousel-inner {
  height: 450px;
}
.carousel-inner img {
  width: 100%;
  max-height: 460px;
}

/* aside juegos */
.juegos-aside__titulo {
  margin: 100px 30px 30px 0px;
  font-weight: 200;
}

/* card de juegos */
.juegos {
  background-color: rgba(0, 0, 0, 0.418);
}
.juegos__parrafo {
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .juegos__titulo {
    font-size: 2rem;
    text-decoration: underline rgba(255, 255, 255, 0.562);
  }
  .juegos__parrafo {
    font-size: 1.4rem;
  }
  .juegos__subtitulo {
    font-size: 1.8rem;
    text-decoration: underline rgba(255, 255, 255, 0.322);
  }
}
/* animacion del avion de formulario */
.avion {
  width: 200px;
  animation-name: avion;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}

@keyframes avion {
  0% {
    transform: translate(0px, 0px) rotateX(20deg);
  }
  25% {
    transform: translate(180px, 90px) rotateX(45deg);
  }
  50% {
    transform: translate(360px, 180px) scale(2);
  }
  75% {
    transform: translate(550px) rotateX(225deg);
  }
  100% {
    transform: translate(500px 300px);
  }
}
.setup-card, .setup-card--borde {
  background-color: rgba(0, 0, 0, 0.418);
}

.setup-card--borde {
  border: 10px solid white;
}

/* card */
.producto {
  background-color: white;
  color: black;
  text-align: center;
  width: 300px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.producto__imagen {
  width: 200px;
  height: 200px;
  /* animacion de tarjetas de tienda (imagenes con zoom) */
}
.producto__imagen:hover {
  cursor: zoom-in;
  transform: scale(1.5);
}

.boton {
  text-decoration: none;
  background-color: rgba(14, 192, 216, 0.397);
  padding: 10px 15px;
  border-radius: 20px;
  /* animacion de boton agregar carrito */
}
.boton:hover {
  transition-delay: 0.5ms;
  background-color: rgba(14, 192, 216, 0.801);
}

/*# sourceMappingURL=style.css.map */
