
body{
    /* Fuente */
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: white;
    /* fondo */
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 49%, rgba(0,212,255,1) 94%);
    background-repeat: no-repeat;
    background-size: cover;
   
}

a{
    text-decoration: none;
}


h1 {
    font-weight: 400;
    font-size: 3rem;
    color: white;
    padding: 10px 0px 0px 10px;
}


/* Barra de nav */

nav ul li {
    text-align: center;
    margin: 0 10px 0 0;
}

nav li a {
    
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
}

nav li a:hover{
    background-color: white;
}

.white{
    color: white;
}

.hamburguesa{
    background-color: white;
}


/* Logo wpp */
.logo_wsp{
    width: 70px;
    position: fixed;
    bottom: 25px;
    right: 1vw;
}

/* animacion de wpp */
.logo_wsp{
    animation:logo_wsp 1.5s ease-in-out infinite both;
    

}

@keyframes logo_wsp{
    from{transform:scale(1);
        transform-origin:center center;
        animation-timing-function:ease-out;
    }
    10%{
        transform:scale(.91);
        animation-timing-function:ease-in;
    }
    17%{
        transform:scale(.98);animation-timing-function:ease-out;
    }
    33%{
        transform:scale(.87);
        animation-timing-function:ease-in;
    }
    45%{
        transform:scale(1);animation-timing-function:ease-out;
    }
}


/* img */

img{
    max-width: 100%;
}


/* INDEX.HTML */

/* MAIN */


.section__titulo {
    margin: 30px 50px 20px 0px;
    font-size: 2.5rem;
    font-weight: 400;
    
    text-align: center;
    
}


.noticia {
    width: 100%;
    padding: 30px;
    margin: 0px 50px 30px 0px;
    background-color: rgba(0, 0, 0, 0.418);
}



.noticia__titulo {
    font-size: 1.5rem;
    font-weight: 400;
    padding: 20px;

}

.noticia__parrafo {
    font-size: 1rem;
    font-weight: 400;
    padding: 20px;

}

.noticia__img{
    max-width: 100%;
}

/* MAIN */


/* ASIDE */

aside {
    
    text-align: center;
    font-weight: 200;
}

aside div h2{
    margin: 100px 30px 30px 0px;
    font-weight: 200;
    font-size: 1.5rem;
    
}

aside div h4{
    color: white;
    font-weight: 200;
    font-size: 1.1rem;
    text-align: center;
    

}

.articulo-aside{
    background-color: rgba(151, 135, 135, 0.212);
    width: 100%;
    padding: 30px;
    border-radius: 20px;
    margin: 20px 0px 20px 0px;
}
/* ASIDE */





/* JUegos.html */


/* aside juegos */

.juegos-aside__titulo{
    margin: 100px 30px 30px 0px;
    font-weight: 200;
    font-size: 1.5rem;
}


.juegos-aside__iframe{
    height: 100vh;
    width: 100%;
}

/* card de juegos */

.juegos{
    background-color: rgba(0, 0, 0, 0.418);
    padding: 20px;
    margin: 20px;
}


.parrafo-juego{
    padding: 10px;
}


/* setups */

/* card de setup */

.setup-card{
    background-color: rgba(0, 0, 0, 0.418);
    padding: 20px;
   
}


/* tienda.html */

/* carrusel */

.carousel-inner img {
    width: 100%;
    max-height: 460px;
}

.carousel-inner{
 height: 450px;
}


/* card */

.producto{
    background-color: rgb(255, 255, 255);
    color: black;
    text-align: center;
    width: 300px;
    padding: 30px;
    margin: 10px;

    border-radius: 20px;

    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}

.producto__valor{
    padding: 20px;
}


.boton{
    text-decoration: none;
    background-color: rgba(14, 192, 216, 0.397);
    padding: 10px 15px;
    border-radius: 20px;
    
}

.producto__imagen{
    max-width: 200px;
    max-height: 200px;
    
}



/* animacion de boton agregar carrito */

.boton:hover{
    transition-delay: 0.5ms;
    background-color: rgba(14, 192, 216, 0.801);

    
}


/* animacion de tarjetas de tienda (imagenes con zoom) */

.producto__imagen:hover{
    cursor:zoom-in; 
    transform: scale(1.5);
}


/* -----tienda.html------ */

/* contacto.html */

.formulario{
    width: 100%;
    
    text-align: center;
    padding: 30px 30px 0px 30px;
    margin: 20px 20px 40vh 20px;
    background-color: rgba(16, 32, 85, 0.411);
}


/* animacion del avion de formulario */

.avion{
    width: 200px;
    
    animation-name: avion;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

@keyframes avion {
    
    0%{
        transform: translate(0px,0px) rotateX(20deg);
        
    }
    
    25%{
        transform: translate(180px,90px) rotateX(45deg);
    }
    
    50%{
        transform: translate(360px,180px) scale(2);
    }

    75%{
        transform: translate(550px) rotateX(225deg);
    }    
        
    
    100%{
        transform: translate(500px 300px);
        
    }
}
