
/* Logo wpp */
.logo_wsp{
    width: 70px;
    position: fixed;
    bottom: 25px;
    right: 1vw;
}

/* animacion de wpp */
.logo_wsp{
    animation:logo_wsp 1.5s ease-in-out infinite both
    

}

@keyframes logo_wsp{
    from{transform:scale(1);
        transform-origin:center center;
        animation-timing-function:ease-out
    }
    10%{
        transform:scale(.91);
        animation-timing-function:ease-in
    }
    17%{
        transform:scale(.98);animation-timing-function:ease-out
    }
    33%{
        transform:scale(.87);
        animation-timing-function:ease-in
    }
    45%{
        transform:scale(1);animation-timing-function:ease-out
    }
}

