//formulario 

.name{
    display: inline-block;
    margin: 20px;
}

.email{
    display: inline-block;
    margin: 20px;
    
}

.fieldset{
    border: 1px solid white;
    margin: 10px;
}

.formulario-completo{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    background-image: url(../imagenes/carrusel4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
