//formulario 


.fieldset{
    border: 1px solid white;
    margin: 0px 10px 10px 10px;
}

.formulario-completo{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    background-image: url("../imagenes/carrusel4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}


.nombre{
    width: 50px;
    margin: 0px 10px 10px 10px;
    
    
}

.email{
    width: 50px;
    margin: 10px 10px 0px 10px;
    
}
