/* aside juegos */

.juegos-aside{

    &__titulo{
        margin: 100px 30px 30px 0px;
        font-weight: $f-200;
    }

}

/* card de juegos */

.juegos{
    background-color: $color-cards;

    &__parrafo{
        font-size: 1.2rem;
    }
}


//media query font size index

@media (max-width:768px){
    
    .juegos__titulo{
        font-size: 2rem;
        text-decoration: underline rgba(255, 255, 255, 0.562);
    }

    .juegos__parrafo{
        font-size: 1.4rem;
    }

    .juegos__subtitulo{
        font-size: 1.8rem;
        text-decoration: underline rgba(255, 255, 255, 0.322);
    }
}
