/* card */

.producto{
    background-color: $color-blanco;
    color: $color-negro;
    text-align: center;
    width: 300px;
    border-radius: 20px;

    @include dflex(column,space-around,center);

    &:hover{
        box-shadow: 2px solid white;
    }

    &__imagen{
         width: 200px;
         height: 200px;
    
    /* animacion de tarjetas de tienda (imagenes con zoom) */
    
        &:hover{
            cursor:zoom-in; 
            transform: scale(1.5);
            transition: 2s;
        }
    }
}


@media (max-width:768px){
    .carrusel{
        display: none;
    }
}
