/* Logo wpp */
.logo_wsp{
    width: 70px;
    position: fixed;
    bottom: 25px;
    right: 1vw;
    
    /* animacion de wpp */
    animation:logo_wsp 1.5s ease-in-out infinite both;
}

@keyframes logo_wsp{
    from{transform:scale(1);
        transform-origin:center center;
        animation-timing-function:ease-out;
    }
    10%{
        transform:scale(.91);
        animation-timing-function:ease-in;
        
    }
    17%{
        transform:scale(.98);animation-timing-function:ease-out;
    }
    33%{
        transform:scale(.87);
        animation-timing-function:ease-in;
    }
    45%{
        transform:scale(1);animation-timing-function:ease-out;
    }
}

//flecha al header
.flecha-subir{
    width: 70px;
    position: fixed;
    bottom: 100px;
    right: 1vw;

    font-size: 2rem;
    color: rgb(255, 255, 255);
    border: 1px solid white;
    border-radius: 10px;

    &:hover{
        background-color: white;
        color: black;
    }
}

