//contacto

.formulario{
    width: 400px;
    text-align: center;
    padding:30px;
    margin: 20px;
    border: 2px solid white;
    align-self: center;
    background-color: black;


}
.titulo_formulario{
    margin: 20px;
    padding: 20px;
    background-color: black;
    text-align: center;
    border-radius: 20px;
}







