// boton de tienda

.boton{
    text-decoration: none;
    background-color: map-get($boton,"boton-tienda");
    padding: 10px 15px;
    border-radius: 20px;

    /* animacion de boton agregar carrito */
    &:hover{
        transition-delay: 0.5ms;
        background-color: map-get($boton,"boton-tienda-hover");
    }
    
}

//boton de formulario pagina contacto

.formulario__boton{
    text-decoration: none;
    background-color: black;
    color: white;
    border: 1px solid white;
    padding: 10px 15px;
    border-radius: 10px;
    margin: 15px;

    /* animacion de boton agregar carrito */
    &:hover{
        transition-delay: 0.5ms;
        background-color: white;
        color:black;
    } 
}