// boton de tienda

.boton{
    text-decoration: none;
    background-color: map-get($boton,"boton-tienda");
    padding: 10px 15px;
    border-radius: 20px;

    /* animacion de boton agregar carrito */
    &:hover{
        transition-delay: 0.5ms;
        background-color: map-get($boton,"boton-tienda-hover");
    }
    
}